<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/head :: user-head">
</head>
<body>
<nav th:replace="layouts/menu :: user-navbar"></nav>
<div class="container" style="padding-top: 2rem">
    <div class="row">
        <div class="col-md-6 offset-3">
            <form th:method="POST" th:action="@{/procurement-method}" th:object="${procurementMethod}">
                <div class="form-group">
                    <label for="keywordId">Select KeyWord</label>
                    <select class="form-control" id="keywordId" th:field="*{keywordBaseId}">
                        <option th:each="keword : ${keywordBases}" th:value="${keword.id}"
                                th:text="|${keword.wiseName} - ${keword.genericName}|">
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="procurementNatureId">Procurement Nature</label>
                    <select class="form-control" id="procurementNatureId" th:field="*{procurementNatureId}">
                        <option th:each="nature : ${procurementNatures}" th:value="${nature.id}"
                                th:text="${nature.name}">
                        </option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-save"></i> Save</button>
                <a th:href="@{/procurement-method}" class="btn btn-warning btn-sm"><i class="fa fa-arrow-left"></i> Back</a>
            </form>
        </div>
    </div>
</div>
</body>
</html>
