<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
<nav th:replace="layouts/menu :: user-navbar"></nav>
<div class="container" id="afterSubmit" style="display: none">
    <div class="d-flex justify-content-center" style="padding-top: 10%;padding-bottom: 10%">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<div class="container" id="currentContainer" style="padding-top: 2rem">
    <div class="row">
        <div class="col-md-6 offset-3">
            <form id="formElem">
                <div class="form-group">
                    <label for="procurementNatureId">Select Procurement Nature</label>
                    <select class="form-control" id="procurementNatureId">
                        <option th:each="nature : ${procurementNatures}" th:value="${nature.id}"
                                th:text="${nature.name}">
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="procurementMethodId">Select Procurement Method</label>
                    <select class="form-control" id="procurementMethodId">
                        <option th:each="method : ${procurementMethods}" th:value="${method.id}"
                                th:text="${method.name}">
                        </option>
                    </select>
                </div>
                <div class="form-group select_type_selector">
                    <label>Select Payment Type</label>
                    <select id="selectTypeElement" class="form-control">
                    </select>
                </div>
                <div class="form-group">
                    <ul id="fieldItems" class="file-form__list list-group">
                    </ul>
                </div>

                <button type="submit" id="buttonSave" class="btn btn-primary btn-sm"><i class="fa fa-save"></i> Save
                </button>
                <a th:href="@{/payment-config}" class="btn btn-warning btn-sm"><i class="fa fa-arrow-left"></i> Back</a>
            </form>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    $(window).on("load", function () {
        $('body').addClass('loaded');
    });
    window.addEventListener("load", start, false);

    displayPaymentType();

    const list = document.querySelector('.file-form__list');
    const selectTypeSelector = document.querySelector('.select_type_selector');
    let docTypes = [];
    let selectedTypesData = [];

    function displayPaymentType() {
        fetch('/v1/payment_config_rest')
            .then(response => response.json())
            .then(data => {
                    console.log(data);
                    docTypes = data;
                    console.log("Working fetch :", docTypes);
                    displayData(data);
                }
            );
    }

    function displayData(data) {

        let select = document.getElementById('selectTypeElement');

        select.add(new Option("Please Select", "Please Select"));
        for (let i = 0; i < data.length; i++) {
            select.add(new Option(data[i].type, data[i].id));
        }
    }

    function changeData() {

        let newData = docTypes.filter(ar =>
            !selectedTypesData.find(rm => (rm.id === ar.id)))


        let word = "Please Select";
        let str = "<option>" + word + "</option>";
        for (const item of newData) {
            str += "<option value='" + item.id + "'>" + item.type + "</option>"
        }
        document.getElementById("selectTypeElement").innerHTML = str;
    }


    function start() {
        document.getElementById("selectTypeElement").addEventListener("change", addFileList);
    }

    function addFileList() {
        console.log("event listener");
        let selectedType = parseInt(document.getElementById("selectTypeElement").value);
        console.log("selectedType:", selectedType)
        let selectedTypeObject = null;
        console.log(docTypes);

        for (let i = 0; i < docTypes.length; i++) {
            if (docTypes[i].id === selectedType) {
                console.log("==", docTypes[i]);
                selectedTypeObject = docTypes[i];
                selectedTypesData.push(selectedTypeObject);
            }
        }
        console.log("Selected type ", selectedTypeObject);
        changeData();

        let li = document.createElement('li');

        li.classList.add("form-list__item", "list-group-item");
        li.name = "fieldListItems";


        let fileType = document.createElement('input');
        fileType.classList.add("fieldDataType", "form-control-sm");
        fileType.style.width = "70%";
        fileType.value = selectedTypeObject.type;
        fileType.readOnly = true;


        let fileInput = document.createElement('input');
        fileInput.classList.add("fieldName", "form-control-sm");
        fileInput.setAttribute("type", "text");
        fileInput.style.width = "10%";
        fileInput.value = "True";
        fileInput.readOnly = true;
        fileInput.style.marginLeft = "1rem";


        let removeEl = document.createElement('button');
        removeEl.innerHTML = '<i class="fa fa-trash"></i>'
        removeEl.classList.add("file__remove");
        removeEl.classList.add("btn")
        removeEl.style.marginLeft = "1rem";
        removeEl.classList.add("btn-danger")
        removeEl.classList.add("btn-sm")

        removeEl.addEventListener("click", function () {
            li.remove();
            for (let i = 0; i < selectedTypesData.length; i++) {
                if (selectedTypesData[i].id === selectedTypeObject.id) {
                    selectedTypesData.splice(i, 1);
                }
            }
            changeData();
            console.log('remove btn');
        });

        li.append(fileType);
        li.append(fileInput);
        li.append(removeEl);
        list.append(li)
    }

    formElem.onsubmit = async (e) => {
        $(window).on("load", function () {
            $('body').addClass('loaded');
        });

        e.preventDefault();


        document.getElementById("currentContainer").style.display = "none";
        document.getElementById("afterSubmit").style.display = "block";

        const listItems = document.getElementsByClassName("form-list__item");
        const types = [];
        console.log(listItems.length);
        for (let i = 0; i < selectedTypesData.length; i++) {
            types.push({
                paymentTypeId: selectedTypesData[i].id,
                active: true
            })
        }

        let newData = docTypes.filter(ar =>
            !selectedTypesData.find(rm => (rm.id === ar.id)))

        console.log("UnSelected Data : ", newData);
        for (let i = 0; i < newData.length; i++) {
            types.push({
                paymentTypeId: newData[i].id,
                active: false
            })
        }

        const procurementNatureId = document.getElementById('procurementNatureId').value;
        const procurementMethodId = document.getElementById('procurementMethodId').value;
        const body = {procurementNatureId, procurementMethodId, types}
        console.log(body);

        await fetch('/v1/payment_config_rest', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(body),
            redirect: 'follow'
        }).then(response => {
            window.location.href = "/payment-config";
        });
    }

</script>


</body>
</html>